<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

{% include "header.html" %}


<br>



<script>
var app = angular.module('myApp', []);

app.config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
app.controller('myCtrl', function($scope,$http) {


    $scope.host = 'http://localhost/'

    $scope.firstName = "John";
    $scope.lastName = "Doe";

    $http.get("/chatin/{{usuario.id}}")
    .then(function(response) {

    	console.log('chatin...',response)

    	$scope.chatin = response.data
        
    });

    $scope.traemensajes=function(data){

    	console.log(data)

    	$scope.receptor = data.id

			$http.get("/listamensajes/"+data.user)
			.then(function(response) {

			console.log('chatin...',response)

			$scope.mensajes = response.data

			$scope.mensajestitulo = response.data[0]

			});

    }


});
</script>


<div class='container'>

{% include "headeruser.html" %}

<br>


<div class='row'>

<div class="col-md-2">
	
	<div class="row">
			
			<div class="col-md-12" ng-repeat="c in chatin">
				

				<div class='row' ng-click='traemensajes(c)'>

					<div class="col-md-2 col-lg-4">

					<img src="https://pbs.twimg.com/profile_images/581997434382897152/LQqbuhbV_reasonably_small.jpg" class='img-fluid    img-rounded'>
					
					</div>

					<div class="col-md-10 col-lg-8" >

					{[{c.user__username}]}

					</div>


				</div>

			
				
			


			</div>
			

	</div>


</div>


<div class='col-md-10 '>


<div class='row titulomensaje'>

<div class='col-md-2'>

<div class='row'>

	<div class='col-md-6'>

	<img src="{[{host}]}{[{mensajestitulo.photo_producto}]}" alt="" class='img-fluid'>

	</div>

	<div class='col-md-6'>

	{[{mensajestitulo.producto__titulo}]}
	{[{mensajestitulo.producto__descripcion}]}


	</div>


</div>

</div>






</div>

<div class='row chatin'>

	
	<div class="col-md-12" ng-repeat="m in mensajes">

		<div class="row">

			<div class="col-md-2 detalleproducto">

				<div class="row">

				<div class="col-md-8">
						<img src="{[{host}]}{[{m.photo_producto}]}" class='img-fluid'>
				</div>

				<div class="col-md-4">
						{[{m.producto__titulo}]}

						<small>S/.{[{m.producto__precio}]}</small>

				</div>	

				</div>			
			
				
			</div>

			<div class="col-md-10 ">
			
				<div class='useractual'>

				<div class="row">
					
					<div class="col-md-2">
							<p>{[{m.user__username}]}</p>
						
					</div>

					<div class="col-md-10">
							<p>{[{m.mensaje}]}</p>
	
						

					</div>

				</div>
				</div>				


			



			</div>
				
			

		</div>

			
	</div>




</div>

	<div class='row'>

	<div class="col-md-12">
		
			<form submit='/enviamensaje_perfil' method='POST'>

			<input type="text" class='form-control' name='receptor' value="{{receptor}}" >
			<input type="text" class='form-control' name='receptor' value="{{receptor}}" >
			<input type="text" class='form-control' name='mensaje'>


			<button type="submit" class="btn btn-primary btn-md ">Enviar mensaje</button>

			</form>


	</div>


	</div>





</div>


</div>



</div>

<style type="text/css">
	
	.chatin{

		    padding: 15px;
    overflow-y: auto;
    height: 20em;
	}

	.titulomensaje{

		background: #234;
	}

/*	.detalleproducto{

		border:1px solid #234;
		    padding: 0px !important;
	}*/
</style>

</body>
</html>












<!-- {% for producto in productos %}


{% for photo in producto.photo %}

 <img class="card-img-top" src="http://localhost/{{photo.photo__photo}}" alt="Card image cap">

{% endfor %}


<div class='col-md-3'>

<div class="card" >
  <img class="card-img-top" src="http://localhost/{{producto.photo.photo__photo}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{producto.title}}</h4>
    <p class="card-text">{{producto.descripcion}}</p>
    <a href="#" class="btn btn-primary">Detalle</a>
  </div>
</div>
</div>


{% endfor %}
 -->

