<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

{% include "header.html" %}


<br>



<script>
var app = angular.module('myApp', []);

app.config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
app.controller('myCtrl', function($scope,$http) {


    $scope.host = 'http://estokealo.com:8080/'

    $scope.firstName = "John";
    $scope.lastName = "Doe";

    $http.get("/chatin/{{usuario.id}}")
    .then(function(response) {

    	console.log('chatin...',response)

    	$scope.chatin = response.data
        
    });

    $scope.traemensajes=function(data){

    	console.log(data)

			$http.get("/listamensajes/"+data.user)
			.then(function(response) {

			console.log('chatin...',response)

			$scope.mensajes = response.data

			});

    }


});
</script>


<div class='container'>

{% include "headeruser.html" %}

<br>


<div class='row'>

<div class="col-md-2">
	
	<div class="row">
			
			<div class="col-md-12" ng-repeat="c in chatin">
				

				<div class='chatin' ng-click='traemensajes(c)'>

					<div class="col-md-12">

					<img src="https://pbs.twimg.com/profile_images/581997434382897152/LQqbuhbV_reasonably_small.jpg" class='img-fluid rounded'>
					
					</div>

					<div class="col-md-12" >

					{[{c.user__username}]}

					</div>


				</div>

			
				
			


			</div>
			

	</div>


</div>


<div class='col-md-10'>

<div class='row'>

	
	<div class="col-md-12" ng-repeat="m in mensajes">

		<div class="row">

			<div class="col-md-2 detalleproducto">

				<div class="row">

				<div class="col-md-8">
						<img src="http://www.telegraph.co.uk/cars/images/2015/12/29/Porsche-Cayman-GT4-front-xlarge_trans_NvBQzQNjv4BqZgEkZX3M936N5BQK4Va8RWtT0gK_6EfZT336f62EI5U.jpg" alt="" class='img-fluid'>
				</div>

				<div class="col-md-4">
						{[{m.producto__titulo}]}

						S/.{[{m.producto__precio}]}

				</div>	

				</div>			
			
				
			</div>

			<div class="col-md-10">
			
				<div class='useractual'>

				<div class="row">
					
					<div class="col-md-2">
							<p>{[{m.user__username}]}</p>
						
					</div>

					<div class="col-md-10">
									<p>{[{m.mensaje}]}</p>
	
						

					</div>

				</div>
				</div>				


			



			</div>
				
			

		</div>

			
	</div>





</div>


</div>


</div>



</div>

<style type="text/css">
	
	.chatin{

		padding: 2px;
	}

	.detalleproducto{

		border:1px solid #234;
		    padding: 0px !important;
	}
</style>

</body>
</html>












<!-- {% for producto in productos %}


{% for photo in producto.photo %}

 <img class="card-img-top" src="http://localhost/{{photo.photo__photo}}" alt="Card image cap">

{% endfor %}


<div class='col-md-3'>

<div class="card" >
  <img class="card-img-top" src="http://localhost/{{producto.photo.photo__photo}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{producto.title}}</h4>
    <p class="card-text">{{producto.descripcion}}</p>
    <a href="#" class="btn btn-primary">Detalle</a>
  </div>
</div>
</div>


{% endfor %}
 -->

