<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script>
var app = angular.module('myApp', []);

app.config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
app.controller('myCtrl', function($scope,$http) {


    $scope.host = 'http://estokealo.com:8080/'

    $scope.firstName = "John";
    $scope.lastName = "Doe";

    $http.get("/productojson/{{producto.id}}")
    .then(function(response) {

      console.log(response.data)

      $scope.photos = response.data
        
    });

    $scope.traeimagen=function(data){

      console.log(data)

      $scope.photoprincipal = data.detalle
    }


});
</script> -->
<head>
  <title>Estokealo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script type="text/javascript" src='/static/js/bootstrap.js'></script>

  <script type="text/javascript" src='/static/js/index.js'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


</head>
<body>



<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <a class="navbar-brand" href="/">Estokealo</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      


      <form class="form-inline my-2 my-sm-0" method="post" action="/busqueda/">
      
      {% csrf_token %}

      <input class="form-control mr-sm-2" type="text" name='dato' placeholder="¿Que estas buscando?">


      <button class='btn btn-primary' type='submit'  >Buscar</button>


      </form>
         
      <form class="form-inline my-2 my-sm-0">

      {% if usuario.username %}

    

       <li class="nav-item my-2 my-sm-0">


       
         <div class="dropdown" style='margin-left: 11px;'>
          <a class="nav-link btn btn-secondary dropdown-toggle" href="/productos/{{usuario.id}}" id="xxxx" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{usuario.first_name}}
          </a>

          <div class="dropdown-menu" aria-labelledby="xxxx">
            <a class="dropdown-item" href="/productos/{{usuario.id}}">Mis Anuncios</a>
            <a class="dropdown-item" href="/perfil">Mi Perfil</a>
            <a class="dropdown-item" href="/salir">Salir</a>
          </div>
        </div>





      </li>

      {% else %}

      <li class="nav-item my-2 my-sm-0">
        <a class='nav-link' href="/ingresar">Ingresar</a>
      </li>



      {% endif %}

      </form>

  

    </ul>

      <a class="nav-link" href="/vender"><button class="btn btn-outline-success my-2 my-sm-0" > <i class="fa fa-camera" aria-hidden="true"></i> Vender</button></a>
    

  </div>
</nav>





</body>

</html>
