

{% include "header.html" %}

<br>

<div class='container'>

{% include "headeruser.html" %}

<br>

<div class='row'>



{% for producto in productos %}


<div class='col-md-3'>

<div class="card" >
  <img class="card-img-top" src="http://localhost/{{producto.photo.photo__photo}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{producto.title}}</h4>
    <p class="card-text">{{producto.descripcion}}</p>
    <a href="/producto/{{producto.id}}" class="btn btn-primary">Detalle</a>
  </div>
</div>
</div>


{% endfor %}


</div>

</div>




